<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT-07igNq3yR4VVG3mpcjzEuY5KAGp3RU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044064805009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.kdu.diplome</string>
	<key>PROJECT_ID</key>
	<string>diplome-be373</string>
	<key>STORAGE_BUCKET</key>
	<string>diplome-be373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044064805009:ios:4b34dfbd4428599382df30</string>
</dict>
</plist>